+tab-wrapper(true)(data-tab="leads" data-tab-group="calcTabs").calc__slide
	+e('ul').list
		+e('li').item(data-range-wrapper="", class="--min").fade-bottom
			+e.header
				span.calc__subtitle Кол-во звонков в месяц
				span.calc__accent(data-range-counter="")

			+range(
				data-start="150" 
				data-min="50"
				data-max="10000"
				data-step="50"
				data-steps='{"30%":[300, 100],"60%":[1000, 500]}'
				data-range-type="calls"
			)

		+e('li').item(data-range-wrapper="", class="--min").fade-bottom
			+e.header
				span.calc__subtitle Кол-во часов рабочего дня
				span.calc__accent(data-range-counter="")

			+range(
				data-start="8" 
				data-min="2"
				data-max="24"
				data-step="2"
				data-range-type="hours"
			)

		+e('li').item(data-range-wrapper="", class="--min").fade-bottom
			+e.header
				span.calc__subtitle Кол-во рабочих дней в месяц
				span.calc__accent(data-range-counter="")

			+range(
				data-start="20" 
				data-min="5"
				data-max="31"
				data-step="1"
				data-range-type="days"
			)

		+e('li').item.__item--mobile--oe(data-range-wrapper="", class="--min").fade-bottom
			+e.header
				span.calc__subtitle Разработка скрипта

			+switch()(
				data-calc-switch=""
				data-switch-before="Нет", 
				data-switch-after="Да",
				data-false-value="0",
				data-true-value="2500",
				data-switch-type="script"
			)

		+e('li').item--df(data-range-wrapper="", class="--max").fade-bottom
			+e.item-block--max(data-range-connect="time")
				+e.header
					span.calc__subtitle Среднее время разговора
					span.calc__accent(data-range-counter="")

				+range(
					data-start="10" 
					data-min="1"
					data-max="60"
					data-step="1"
					data-steps='{"50%":[10, 5]}'
					data-range-type="time"
				)

			+e.item-block--mobile--posa
				+checkbox().--size--xl(
					data-calc-checkbox=""
					data-false-value="0",
					data-true-value="3",
					data-checkbox-type="time"
				) 
					+b('p').calc__checkbox-text--normal Я не знаю

		+e('li').item--df.__item--ais.__item--mobile--oe(data-range-wrapper="", class="--max").fade-bottom
			+e.item-block
				+e.header
					span.calc__subtitle Работа в
			
			+e.checkboxes
					+checkbox().--size--xl(
						data-calc-checkbox=""
						data-false-value="0",
						data-true-value="1",
						data-checkbox-type="crm"
					) 
						+b('p').calc__checkbox-text--bold CRM

					+checkbox().--size--xl(
						data-calc-checkbox=""
						data-false-value="0",
						data-true-value="1",
						data-checkbox-type="messangers"
					) 
						+b('p').calc__checkbox-text--bold Мессенджерах

					+checkbox().--size--xl(
						data-calc-checkbox=""
						data-false-value="0",
						data-true-value="1",
						data-checkbox-type="letters"
					) 
						+b('p').calc__checkbox-text--bold Отправка писем
			
	+e.bottom.fade-bottom(data-calc-wrapper="leads")
		+e('p').text--max--md Прогнозируемая стоимость
		+e('p').price
			+e('span')(data-calc-output="leads").price-numb 0
			|  ₽
			+e('sup').price-symb *

		+e('svg').arrow(viewBox="0 0 172.46 81.87")
			+e('path')(d="M.33,47.37C15.89,60.88,31.11,63.62,51.14,62.59c27.92-.9,40.53-13.52,74.17-17.86C157,43.4,166.79,66.15,153.19,77.81c-16.73,12.29-39.69-9.18-29.13-35.09,9.57-20.15,27.24-23,47.17-41.46").arrow-line
			+e('polyline')(points="167.59 1.89 171.74 0.72 170.55 4.85").arrow-pike
		
		+e('p').anno *Не является офертой. Расчет является предварительным. 
