
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
  |
  |
  meta(property="og:type" content="website")

  //- Указываем ссылку на страницу
  meta(property="og:url" content="http://"+site)
  //- Название страницы для соц сетей
  meta(property="og:title" content=pageOgTitle || '')
  //- Описание страницы для соц сетей
  meta(property="og:description" content=pageOgDescription || '')
  //- Превью страницы для соц сетей
  meta(property="og:image" content="http://"+site+"/assets/img/preview.jpg")

  meta(name='description' content=pageOgDescription || '')
  meta(name='keywords' content=pageOgKeywords || '')
  |
  |
  //- Путь до фавикона
  link(rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon") 
  link(rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png")
  link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png")
  |
  |
  link(href='assets/styles/app.min.css' rel='stylesheet')
  |
  |
  block head

  title= pageTitle || ''
  |
  |
  <!--[if lt IE 10]>
    p.browserupgrade Вы используете <strong>устаревший</strong> браузер.
      | Пожалуйста,  
      a(href="http://browsehappy.com/") обновите его до последней версии
      | , чтобы эта страница отображалась корректно.
    |
    |
  <![endif]-->
  |
  |
